<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

<p-button style="margin-top: 5em; margin-left: 2em;" (onClick)="navigateToHome()" icon="fa fa-home" label="Home"></p-button>

  <p-card  [style]="{width: '100%', height: '100%'}">
    <p>Marcel</p>
    <p-growl [value]="msgs"></p-growl>
    <div *ngFor="let item of returnListSprint; let i = index;">
      <p-panel header="{{item.sprintid}} {{i}}" [toggleable]="false" [style]="{'margin-bottom':'20px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
      </p-panel>
    </div>
  </p-card>
</div>
</body>
</html>
